.MuiFormGroup-root {
    
    padding:4px;
    margin: 20px 0px;


.MuiFormControlLabel-label {
     &.Mui-disabled { 
        @media (max-width: 599px){ 
          display: none; 
        } 
    }
}

}


   