@import '../../../styles/settings/colors.scss';

.navigator{
    width:100%;
    background-color:rgba(0, 0, 0, 0.6);
    position:fixed;
    bottom:0px;
    height:50px;

    button{
        position:fixed;
        bottom:0;
        right:10%;
        bottom:10px;
        margin: 0 30%; 
        
        @media (min-width: 599px){ 
            margin: 0; 
          } 
      }

      button[class$='disabled']{
          color:$inactive-font-color;
          background-color:grey;
      }

  }