$lineHeight : 16px;
$lineCount : 3;

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: $bgColor;
    }
  }

.MuiPaper-root:hover,  .MuiPaper-root:focus, .MuiPaper-root:active {
    border:2px solid #c51162;
}

.MuiCard-root {
    max-width: 240px;
    height:100%;
    margin-right:10px;
    margin-bottom:10px;


    .MuiCardMedia-root {
        width:240px;
        height:140px;
    }

    .MuiCardContent-root {
        text-align:left;
        height:100px;
        max-height:100px;
    }
    
    .MuiCardActions-root {
        padding:14px;

        p {
            position:relative;
            left:5px;
            top: 3px;
        }


       svg:last-of-type {
           margin-left:auto;
       }
         

    .allergy {
        display:inline-flex;
    }

    .spicy {
        margin-left:auto;
    }
    }

    .block-with-text {
        @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 5, $bgColor: white);  
      }
}
