.MuiCard-root {
    max-width: 345px;

    .MuiCardMedia-root {
        height:140px;
    }

    .MuiCardContent-root {
        text-align:left;
    }
    
    .MuiCardActions-root {
        padding:14px;

        p {
            position:relative;
            left:5px;
            top: 3px;
        }


       svg:last-of-type {
           margin-left:auto;
       }
         

    }
}
