@import "../../../styles/settings/typography.scss";
@import "../../../styles/settings/colors.scss";
@import "../../../styles/tools/mixins.scss";


/* TODO: Material UI Theme*/
.MuiPaper-root:hover,  .MuiPaper-root:focus, .MuiPaper-root:active {
    border:2px solid $primary-color;
}

.MuiCard-root {
    max-width: 240px;
    height:100%;
    margin-right:10px;
    margin-bottom:10px;

    .MuiCardMedia-root {
        width:240px;
        height:140px;
    }

    .MuiCardContent-root {
        text-align:left;
        height:100px;
        max-height:100px;
    }
    
    .MuiCardActions-root {
        padding:14px;

        p {
            position:relative;
            left:5px;
            top: 3px;
        }

       svg:last-of-type {
           margin-left:auto;
       }
         
        .allergy {
        display:inline-flex;
        }

        .spicy {
            margin-left:auto;
        }
    }
}
