html {
  font-size:12px;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.MuiButton-root.MuiButton-containedPrimary{
  position:fixed;
  bottom:0;
  right:10%;
}

