.MuiGrid-root.MuiGrid-container{
        width:250px;
        margin: 0 auto;

   @media (min-width: 599px) and (max-width:789px){ 
                width:524px;
        } 

        @media (min-width: 789px) and (max-width:1280px){ 
                width:754px;
        } 

        @media (min-width: 1280px) { 
                width:1004px;
        } 
}  
