@import "../../../styles/settings/typography.scss";

.MuiGrid-root {
    &.MuiGrid-container{
        width:$card-item-width;
        margin: 0 auto;

        @media (min-width: 599px) and (max-width:789px){ 
                width: $card-item-width *2 + 2*2;} 

        @media (min-width: 789px) and (max-width:1280px){ 
                width:$card-item-width *3 +3*2;} 

        @media (min-width: 1280px) { 
                width:$card-item-width *4 + 4*2;} 
        
        }  
}
